/** @format */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
    height: 1000px;
    align-items: center;

}
/* h1 {
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: aqua;
  text-align: center;
} */
.card{
    position: relative;
    border: 1px solid black;
    width:  300px;
    border-radius: 10px;
}
img{
    /* position: absolute; */

   width:  200px;
}
.salam{
    padding-top: 120px;
}
.kargo{
    position: absolute;
    top: 0;
}
.urek{
    position: absolute;
right: 0;
top: 0;
}
.hizli{
    top: 20px;
    position: absolute;

}
