/** @format */

* {
  margin: 0;
  padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
 height: 300px;
 padding: 30px;
 border: 2px solid rgb(0, 157, 255);
 margin: 20px;
 
}
img{
    height: 200px;
}
.column{
    display: flex;
}
.container{
    margin-top: 100px;
    width: 800px;
    padding: 30px;
    margin-right: 250px;
   
}
span{
    color: blue;
}